* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: darkblue;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: gainsboro;
  transition: color 0.5s;
}